<h1>Home</h1>
<h1>Watch People Code API Streams</h1>

<div class="all streams">

  <h2>Live Streams</h2>
  <ul class="live streams container">
      <% @live_streams.each do |stream|%>
      <li class="live stream">
          <div class="streamer cotainer">
            <h3>Streamer Name:</h3>
            <%if stream.username == nil %>
              <div id="user"><%= link_to stream.url.match(/[^\/]+$/), "http://localhost:3000/streamer/#{stream.url.match(/[^\/]+$/)}"%></div>
            <%else%>
              <div id="user"> <%= link_to stream.username,"http://localhost:3000/streamer/#{stream.username}"%></div>
            <%end%>
          </div>
          <div class="title container">
            <h3>Stream Title:</h3>
            <div id="title"><%=stream.title%></div>
          </div>
          <div class="site container">
            <h3>Videoplayer:</h3>
            <div id="site"><%=stream.site%></div>
          </div>
      </li>
      <% end %>
  </ul>

  <h2>Upcoming Streams</h2>
  <ul class="upcoming streams container">
      <% @upcoming_streams.each do |stream|%>
      <li class="upcoming stream">
          <div class="streamer cotainer">
            <h3>Streamer Name:</h3>
            <%if stream.username == nil %>
              <div id="user"><%= link_to stream.url.match(/[^\/]+$/), "http://localhost:3000/streamer/#{stream.url.match(/[^\/]+$/)}"%></div>
            <%else%>
              <div id="user"> <%= link_to stream.username,"http://localhost:3000/streamer/#{stream.username}"%></div>
            <%end%>
          </div>
          <div class="title container">
            <h3>Stream Title:</h3>
            <div id="title"><%=stream["title"]%></div>
          </div>
          <div class="scheduled start time container">
             <h3>Scheduled Start Time:</h3>
             <div id="scheduled start time"><%=stream["scheduled_strat_time"]%></div>
          </div>
      </li>
      <% end %>
  </ul>



</div>