<h1>Home</h1>
<h1>Watch People Code API Streams</h1>

<div class="all streams">

  <h2>Live Streams</h2>
  <ul class="live streams container">
      <% @live_streams.each do |stream|%>
      <li class="live stream">
          <div class="streamer cotainer">
            <h3>Streamer Name:</h3>
            <%if stream.username == nil %>
              <div id="user"><a href='<%=stream.url%>'<div id="user"><%=stream.url.match(/[^\/]+$/)%></a></div>
            <%else%>
              <div id="user"><a href='<%=stream.url%>'<div id="user"><%=stream.streamer%></a></div>
            <%end%>
          </div>
          <div class="title container">
            <h3>Stream Title:</h3>
            <div id="title"><%=stream.title%></div>
          </div>
          <div class="site container">
            <h3>Videoplayer:</h3>
            <div id="site"><%=stream.site%></div>
          </div>
      </li>
      <% end %>
  </ul>



</div>